﻿<a ng-click="TodoList()" class="btn btn-small">List of Todo</a>
<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">{{Todo.id == 0 ? 'Add' : 'Update'}} Todo</span></div>
    <div class="formcontainer">
        <form ng-submit="Submit()" name="myForm" class="form-horizontal">
            <input type="hidden" ng-model="Todo.id" />
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Name</label>
                    <div class="col-md-7">
                        <input type="text" ng-model="Todo.name" name="uname" class="username form-control input-sm" placeholder="Enter your name" required ng-minlength="3" />
                        <div class="has-error" ng-show="myForm.$dirty">
                            <span ng-show="myForm.uname.$error.required">This is a required field</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Status</label>
                    <div class="col-sm-1">
                        <input type="checkbox" ng-model="Todo.status" class="form-control  checkbox"  />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Completed Date</label>
                    <div class="col-md-7">
                        <!--<input type="datetime" ng-model="Todo.completeDate" name="completeDate" class="form-control input-sm" placeholder="Select Date" required />-->
                        <input type="date"
                               id="test"
                               name="birthdate"
                               ng-model="Todo.completeDate"
                               popup="d MMM yyyy"
                               options="dateOptions"
                               opened="opened"
                               custom-datepicker  required/>

                        <div class="has-error" ng-show="myForm.$dirty">
                            <span ng-show="myForm.completeDate.$error.required">This is a required field</span>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-actions floatRight">
                    <input type="submit" value="{{Todo.id == 0 ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm custom-width" ng-disabled="myForm.$invalid">
                    <button type="button" ng-click="Reset()" class="btn btn-warning btn-sm custom-width" ng-disabled="myForm.$pristine">Reset</button>
                    <button type="button" ng-click="TodoList()" class="btn btn-warning btn-sm custom-width" ng-if="Todo.id">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
