﻿body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  
  /*margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;*/
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
 border-radius: 4px;
 box-shadow: 0 0 10px black;
}

.custom-width {
    width: 60px !important;
}


/** Override Css */
.navbar{
    margin-bottom:5px;
    background:#f5f5f5;
    min-height:35px;
}

.navbar-brand{
    padding:10px;
    height:35px;
}
.navbar-inverse{
    border-color:#f5f5f5;
}

/**Override CSS */
.btn {
    font-size: 12px;
}