﻿<a ng-click="UserList()" class="btn btn-small">List of Users</a>
<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">{{User.id == 0 ? 'Add' : 'Update'}} User</span></div>
    <div class="formcontainer">
        <form ng-submit="Submit()" name="myForm" class="form-horizontal">
            <input type="hidden" ng-model="User.id" />
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Name</label>
                    <div class="col-md-7">
                        <input type="text" ng-model="User.name" name="uname" class="username form-control input-sm" placeholder="Enter your name" required ng-minlength="3" />
                        <div class="has-error" ng-show="myForm.$dirty">
                            <span ng-show="myForm.uname.$error.required">This is a required field</span>
                            <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                            <span ng-show="myForm.uname.$error.required && myForm.uname.$invalid">This field is invalid </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Address</label>
                    <div class="col-md-7">
                        <input type="text" ng-model="User.address" class="form-control input-sm" placeholder="Enter your Address." />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-2 control-lable" for="file">Email</label>
                    <div class="col-md-7">
                        <input type="email" ng-model="User.email" name="email" class="email form-control input-sm" placeholder="Enter your Email" required />
                        <div class="has-error" ng-show="myForm.$dirty">
                            <span ng-show="myForm.email.$error.required">This is a required field</span>
                            <span ng-show="!myForm.email.$error.required && myForm.email.$invalid">This field is invalid </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-actions floatRight">
                    <input type="submit" value="{{User.id == 0 ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm custom-width" ng-disabled="myForm.$invalid">
                    <button type="button" ng-click="Reset()" class="btn btn-warning btn-sm custom-width" ng-disabled="myForm.$pristine">Reset</button>
                    <button type="button" ng-click="UserList()" class="btn btn-warning btn-sm custom-width" ng-if="User.id">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
