﻿<a ng-click="AddUser()" class="btn btn-small">Add User</a>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="lead">List of Users </span></div>
    <div class="tablecontainer">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th width="20%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="objUser in Users">
                    <td><span ng-bind="objUser.id"></span></td>
                    <td><span ng-bind="objUser.name"></span></td>
                    <td><span ng-bind="objUser.address"></span></td>
                    <td><span ng-bind="objUser.email"></span></td>
                    <td>
                        <button type="button" ng-click="Edit(objUser.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="Delete(objUser.id)" class="btn btn-danger custom-width">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>